.became{
	padding: 60px 0;
	background: $pink;
	text-transform: uppercase;
}
.became-title{
	font-size: 40px;
	color: #fff;
}
.btn-became{
	background: #fff;
	color: $pink;
	margin-left: 40px;
	font-size: 15px;
	// text-transform: uppercase;
}