section.about
	.container
		.about-wrap
			.title-sections.title--about
				h2.
					Powerfull PSD template
					available  for free!
				p.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
				a(href="#").play-video see the video

			//- MacBook-Pro
			.macBook
				img(src="img/MacBook-Pro.png", alt="macBook")


