section.listServices
	.container
		.listServices-wrap
			.listServices-item
				img(src="../img/1.png", alt="1")
				h4.listServices-title HIGH RESOLUTION
				p.listServices-desc.
					Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			.listServices-item
				img(src="../img/2.png", alt="2")
				h4.listServices-title HIGH RESOLUTION
				p.listServices-desc.
					Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			.listServices-item
				img(src="../img/3.png", alt="3")
				h4.listServices-title HIGH RESOLUTION
				p.listServices-desc.
					Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			.listServices-item
				img(src="../img/4.png", alt="4")
				h4.listServices-title HIGH RESOLUTION
				p.listServices-desc.
					Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			.listServices-item
				img(src="../img/5.png", alt="5")
				h4.listServices-title HIGH RESOLUTION
				p.listServices-desc.
					Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			.listServices-item
				img(src="../img/6.png", alt="6")
				h4.listServices-title HIGH RESOLUTION
				p.listServices-desc.
					Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna


