section.prices
	.container
		.title-sections
			h2.italic-title.
				Check Our Prices
			p
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				br 
				|et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		.price-item-wrap
			.price-item
				.price-item-top
					span $
						span.size-price 19
						br
						|per month
					span.btn.btn-price-top standart
				
				.price-item-bottom
					.price-desc
						|5 Project
						br
						|200 mb Storage
						br
						|Notification settings
						br
						|Password protection
						a(href="#").btn.btn-price-bottom buy now
			.price-item
				.price-item-top
					span $
						span.size-price 39
						br
						|per month
					span.btn.btn-price-top buisnes
				
				.price-item-bottom
					.price-desc
						|5 Project
						br
						|200 mb Storage
						br
						|Notification settings
						br
						|Password protection
						a(href="#").btn.btn-price-bottom buy now
			.price-item
				.price-item-top
					span $
						span.size-price 59
						br
						|per month
					span.btn.btn-price-top standart
				
				.price-item-bottom
					.price-desc
						|5 Project
						br
						|200 mb Storage
						br
						|Notification premium
						br
						|Password protection
						a(href="#").btn.btn-price-bottom buy now
			.price-item
				.price-item-top
					span $
						span.size-price 99
						br
						|per month
					span.btn.btn-price-top unlimited
				
				.price-item-bottom
					.price-desc
						|5 Project
						br
						|200 mb Storage
						br
						|Notification settings
						br
						|Password protection
						a(href="#").btn.btn-price-bottom buy now

