section.services
	.container
		.title-sections
			h2.
				Our Services
			p
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				br 
				|et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation

		.services-item-wrap
			.services-item
				img(src="img/img_services_1.png", alt="icon one").services-icon
				a(href="#").services-link fully editable
			.services-item
				img(src="img/img_services_2.png", alt="icon two").services-icon
				a(href="#").services-link free download
			.services-item
				img(src="img/img_services_3.png", alt="icon three").services-icon
				a(href="#").services-link modern design
			.services-item
				img(src="img/img_services_4.png", alt="icon for").services-icon
				a(href="#").services-link 100% responsive

			

			
