section.updates
	.container
		.title-sections
			h2.italic-title.
				Our Latest Updates
			p
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
				br 
				|et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		.update-wrap
			.update-item
				.update-item-top
					img(src="../img/update_foto_1.jpg", alt="photo_1")
				.update-item-bottom
					h4.update-item-title LOREM IPSUMa DOLOR SIT
					p.update-item-desc.
						Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
			.update-item
				.update-item-top
					img(src="../img/update_foto_2.jpg", alt="photo_2")
				.update-item-bottom
					h4.update-item-title LOREM IPSUMa DOLOR SIT
					p.update-item-desc.
						Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
			.update-item
				.update-item-top
					img(src="../img/update_foto_3.jpg", alt="photo_3")
				.update-item-bottom
					h4.update-item-title LOREM IPSUMa DOLOR SIT
					p.update-item-desc.
						Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
			.update-item
				.update-item-top
					img(src="../img/update_foto_4.jpg", alt="photo_4")
				.update-item-bottom
					h4.update-item-title LOREM IPSUMa DOLOR SIT
					p.update-item-desc.
						Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
			.update-item
				.update-item-top
					img(src="../img/update_foto_5.jpg", alt="photo_5")
				.update-item-bottom
					h4.update-item-title LOREM IPSUMa DOLOR SIT
					p.update-item-desc.
						Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
			.update-item
				.update-item-top
					img(src="../img/update_foto_6.jpg", alt="photo_6")
				.update-item-bottom
					h4.update-item-title LOREM IPSUMa DOLOR SIT
					p.update-item-desc.
						Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et 
		a(href="#").show-link show more 


