<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Document
	link(href="https://fonts.googleapis.com/css?family=Lato:300i,400" rel="stylesheet")
	link(rel="stylesheet", href="css/main.css")
body
	//- підключаємо header
	include templates/sections/header.pug

	//- підключаємо about
	include templates/sections/about.pug

	//- підключаємо services
	include templates/sections/services.pug

	//- підключаємо slider one
	include templates/sections/sliderOne.pug

	//- підключаємо slider one
	include templates/sections/prices.pug
	
