<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(href="https://fonts.googleapis.com/css?family=Lato:300i,400" rel="stylesheet")
	link(rel="stylesheet", href="css/main.css")
body
	//- підключаємо header
	include templates/sections/header.pug

