*{
	margin: 0;
	padding: 0;	
}
h2{
	position: relative;
	font-size: 38px;
}
.italic-title{
	font-style: italic;
}
body{
	font-family: $Lato;
	font-size: 15px;
	color: $colorText;
	margin: 0;
	padding: 0;
}
section{
	box-sizing: border-box;
	text-align: center;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn{
	display: inline-block;
	width: 200px;
	padding: 15px 0;
	border-radius: 20px;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	background: $pink;
	text-decoration: none;
	cursor: pointer;

	&:hover{
		background: #ff3376;
	}
}

.title-sections{
	font-size: 38px;
	text-align: center;
	color: $colorText;

	h2{
		padding-bottom: 40px;
		&::after{
			content: '';
			position: absolute;
			height: 2px;
			width: 200px;
			background: $pink;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	p{
		margin-top: 40px;
		font-size: 15px;
	}
}